img {
  height: 2.5em;
}

header {
  background-color: #b7aaaa;
  height: 3em;
  padding: 0.5em;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: inherit;
    color: inherit;
    &:hover {
       text-decoration: underline;
    }

    span {
      font-weight: bold;
      font-size: 1.3em;
    }
  }
}
